<!doctype html>
<html lang="en">
<head>
    <meta charset='utf-8'/>
    <meta http-equiv='content-type' content='text/html; charset=utf-8'/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <title>{{ title }}</title>

    {{ js_resources|indent(4)|safe }}

    {{ css_resources|indent(4)|safe }}

    {{ plot_script|indent(4)|safe }}

    <style type="text/css">
        {{ custom_css|indent(4)|safe }}
    </style>

    {{ custom_header|indent(4)|safe }}
</head>
<body>
<div class="container">
  <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        {{ plot_div|indent(4)|safe }}
      </div>
  </div>
</div>

{{ custom_js|indent(4)|safe }}
</body>
</html>